/* Filters styles */
.filters {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filters .locations, .filters .amenities {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

.filters .amenities {
    border-right: none;
}

.filters h3 {
    font-weight: 600;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
}

.filters button {
    height: 48px;
    width: 20%;
    margin-left: auto; /* Pushes the button to the right */
    background-color: #FF5A5F;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}

.filters button:hover {
    opacity: 0.9;
}
